/* RESET */

*{
    font-family: "Montserrat", sans-serif;
    background-color: #909090;
}
.encabezado {
    background-color: #909090;
    size: auto;
}
.encabezado h1{
    color: #E3D2C7;
}
/* TIPOGRAFIAS */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
    color: #523a34;
}

h3 {
    font-size: 1.8rem;
    color: aliceblue;
}

h1,h2,h3 {
    text-align: center;
}
.contenedor_Imagenes {
    align-items: center;
}